.table {
    width: 60%;
    display: block;
margin-left: auto;
margin-right: auto;
}

.bottom-btn {
    display: block;
margin-left: auto;
margin-right: auto;
}
.bottom a:hover { 
    color: white;
    text-decoration: none;
}