.table {
    width: 60%;
    display: block;
margin-left: auto;
margin-right: auto;
}

.bottom-btn {
    display: block;
margin-left: auto;
margin-right: auto;
}
.bottom a:hover { 
    text-decoration: none;
}

a:hover { 
    color: #B54213;
    text-decoration: none;
}

a { 
    color: #E47041;
    text-decoration: none;
}